<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo">
      </div>
      <ul>
        <li routerLink="bank" routerLinkActive="active">Banks</li>
        <li routerLink="blood-requests" routerLinkActive="active">Blood Requests</li>
        <li routerLink="donors" routerLinkActive="active">Donors</li>
        <li routerLink="profile" routerLinkActive="active">Profile</li>
      </ul>
    </div>
  
    <!-- Main Content -->
    <div class="main-content">
      <div class="header">
        Welcome, User
      </div>
    </div>
  </div>
